body{
    background-color: #CABFA9;
}

.container {
    width: 100%;
    padding: 20px;
  }
  
  .container h2 {
    margin-bottom: 20px;
    font-size: 3rem;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .grid-item {
    position: relative;
    overflow: hidden;
  }
  
  .grid-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .grid-item:hover img {
    transform: scale(1.1);
  }
  
  .main-image {
    grid-column: 1 / span 2;
  }
  
  .main-image img {
    height: auto;
  }
  
  @media only screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  